# Data Science Pandas - Joins, Time Series & Rolling Statistics

## Tasks Today:

1) <b>Pandas</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Joins <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - merge() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Breaking Down the Inner Join <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Outer Joins <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Use Case Example <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Rolling Statistics and Time Series w/Pandas <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - read_csv() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - shift() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Sending and Reading from SQL database <br>

In [1]:
import pandas as pd
import numpy as np

### Joins <br>
<p>Very often you will have to combine data from several different sources to obtain the actual dataset you need for your exploration or modeling. Pandas draws heavily on SQL in its API design for joins, and if you are familiar with SQL joins, then Pandas will come naturally. Imagine you have two tables, one with customer id, city, and age and the other with their feedback:</p>

In [3]:
# Generate some fake data
city_data = {
    1: 'Chicago',
    2: 'Pittsburgh',
    3: 'Buffalo',
    4: 'Orlando',
    5: 'Boston',
    6: 'Phoenix'
}


ages = np.random.randint(18, 75, 100)
city = [city_data[num] for num in np.random.randint(1, 7, 100)]
customer_id = np.arange(1000, 1100)

<p>Let's assume we have a dataset containing the customer ID's cities, and ages for a set of customers. Suppose further, that we have a second table, containing some customer ID's, and a feedback survey rating from those customers. Suppose finally, that you as an analyst are asked the following question: What city tends to give the best feedback for our product? We'll need a join operation to get the answer.</p>

In [7]:
customer_demographics = pd.DataFrame.from_dict({
    'age': ages,
    'city': city,
    'customer_id': customer_id
})

customer_demographics

    age        city  customer_id
0    26     Orlando         1000
1    25     Chicago         1001
2    50     Buffalo         1002
3    22      Boston         1003
4    23     Phoenix         1004
..  ...         ...          ...
95   49     Buffalo         1095
96   18  Pittsburgh         1096
97   22      Boston         1097
98   29     Phoenix         1098
99   39  Pittsburgh         1099

[100 rows x 3 columns]

In [10]:
customer_demographics.head(15)

    age        city  customer_id
0    26     Orlando         1000
1    25     Chicago         1001
2    50     Buffalo         1002
3    22      Boston         1003
4    23     Phoenix         1004
5    61     Phoenix         1005
6    36     Buffalo         1006
7    61      Boston         1007
8    33     Chicago         1008
9    58     Orlando         1009
10   38  Pittsburgh         1010
11   20  Pittsburgh         1011
12   70     Chicago         1012
13   52     Buffalo         1013
14   22     Orlando         1014

In [8]:
# Generate some other fake data
customer_id = np.random.randint(1000, 1200, 100)
customer_rating = np.random.randint(1,11, 100)

surveys = pd.DataFrame.from_dict({
    'customer_id': customer_id,
    'rating': customer_rating
})

In [9]:
surveys

    customer_id  rating
0          1010       5
1          1033       4
2          1164       5
3          1071       2
4          1042       7
..          ...     ...
95         1009       2
96         1021       5
97         1028       5
98         1093       1
99         1177       9

[100 rows x 2 columns]

##### merge()

<p>We can zip the two dataframes up with an inner join, using the Pandas API as follows:</p>

In [13]:
# SELECT *
# FROM customer_demographics
# (INNER) JOIN surveys
# ON customer_demographics.customer_id = surveys.customer_id

demo_ratings = customer_demographics.merge(surveys, how='inner', on='customer_id')

demo_ratings

    age        city  customer_id  rating
0    22      Boston         1003       3
1    22      Boston         1003       9
2    23     Phoenix         1004       3
3    23     Phoenix         1004       9
4    61     Phoenix         1005       5
5    36     Buffalo         1006       6
6    58     Orlando         1009       2
7    38  Pittsburgh         1010       5
8    70     Chicago         1012       4
9    52     Buffalo         1013       4
10   22     Orlando         1014      10
11   39     Buffalo         1017       7
12   45      Boston         1019      10
13   31     Buffalo         1021       5
14   25  Pittsburgh         1022       3
15   44     Phoenix         1028       5
16   36     Phoenix         1030       8
17   47     Phoenix         1031       2
18   64     Buffalo         1033       4
19   64     Buffalo         1033       6
20   64     Buffalo         1033       5
21   64     Buffalo         1033       9
22   46     Buffalo         1035       4
23   19     Chicago         1036       2
24   19     Chicago         1036       3
25   57     Orlando         1037       8
26   58     Orlando         1040       5
27   58     Orlando         1040       4
28   47     Orlando         1042       7
29   38  Pittsburgh         1044       3
30   67  Pittsburgh         1047       6
31   21     Orlando         1049       6
32   62      Boston         1051       3
33   65  Pittsburgh         1053       4
34   67     Buffalo         1054       1
35   67     Buffalo         1054       7
36   66      Boston         1055       5
37   66      Boston         1055       9
38   70     Phoenix         1056       7
39   70     Phoenix         1056       9
40   40     Phoenix         1057       8
41   40     Phoenix         1057       2
42   35  Pittsburgh         1058      10
43   59      Boston         1059       8
44   59      Boston         1059      10
45   26     Orlando         1060      10
46   32     Chicago         1062       1
47   32     Chicago         1062       9
48   37     Buffalo         1071       2
49   59     Buffalo         1072       1
50   63  Pittsburgh         1075       5
51   61     Chicago         1081       5
52   56      Boston         1083       4
53   53      Boston         1088       1
54   64  Pittsburgh         1092       3
55   52     Phoenix         1093       1
56   29     Phoenix         1098       7

**.join() method**

In [16]:
surveys.set_index('customer_id')

             rating
customer_id
1010              5
1033              4
1164              5
1071              2
1042              7
...             ...
1009              2
1021              5
1028              5
1093              1
1177              9

[100 rows x 1 columns]

In [15]:
demo_surveys_join = customer_demographics.join(other=surveys.set_index('customer_id'), on='customer_id', how='inner')
demo_surveys_join

    age        city  customer_id  rating
3    22      Boston         1003       3
3    22      Boston         1003       9
4    23     Phoenix         1004       3
4    23     Phoenix         1004       9
5    61     Phoenix         1005       5
6    36     Buffalo         1006       6
9    58     Orlando         1009       2
10   38  Pittsburgh         1010       5
12   70     Chicago         1012       4
13   52     Buffalo         1013       4
14   22     Orlando         1014      10
17   39     Buffalo         1017       7
19   45      Boston         1019      10
21   31     Buffalo         1021       5
22   25  Pittsburgh         1022       3
28   44     Phoenix         1028       5
30   36     Phoenix         1030       8
31   47     Phoenix         1031       2
33   64     Buffalo         1033       4
33   64     Buffalo         1033       6
33   64     Buffalo         1033       5
33   64     Buffalo         1033       9
35   46     Buffalo         1035       4
36   19     Chicago         1036       2
36   19     Chicago         1036       3
37   57     Orlando         1037       8
40   58     Orlando         1040       5
40   58     Orlando         1040       4
42   47     Orlando         1042       7
44   38  Pittsburgh         1044       3
47   67  Pittsburgh         1047       6
49   21     Orlando         1049       6
51   62      Boston         1051       3
53   65  Pittsburgh         1053       4
54   67     Buffalo         1054       1
54   67     Buffalo         1054       7
55   66      Boston         1055       5
55   66      Boston         1055       9
56   70     Phoenix         1056       7
56   70     Phoenix         1056       9
57   40     Phoenix         1057       8
57   40     Phoenix         1057       2
58   35  Pittsburgh         1058      10
59   59      Boston         1059       8
59   59      Boston         1059      10
60   26     Orlando         1060      10
62   32     Chicago         1062       1
62   32     Chicago         1062       9
71   37     Buffalo         1071       2
72   59     Buffalo         1072       1
75   63  Pittsburgh         1075       5
81   61     Chicago         1081       5
83   56      Boston         1083       4
88   53      Boston         1088       1
92   64  Pittsburgh         1092       3
93   52     Phoenix         1093       1
98   29     Phoenix         1098       7

In [19]:
demographics_customer_index = customer_demographics.set_index('customer_id')
survey_cust = surveys.set_index('customer_id')

demographics_customer_index.join(survey_cust, how='inner')

             age        city  rating
customer_id
1003          22      Boston       3
1003          22      Boston       9
1004          23     Phoenix       3
1004          23     Phoenix       9
1005          61     Phoenix       5
1006          36     Buffalo       6
1009          58     Orlando       2
1010          38  Pittsburgh       5
1012          70     Chicago       4
1013          52     Buffalo       4
1014          22     Orlando      10
1017          39     Buffalo       7
1019          45      Boston      10
1021          31     Buffalo       5
1022          25  Pittsburgh       3
1028          44     Phoenix       5
1030          36     Phoenix       8
1031          47     Phoenix       2
1033          64     Buffalo       4
1033          64     Buffalo       6
1033          64     Buffalo       5
1033          64     Buffalo       9
1035          46     Buffalo       4
1036          19     Chicago       2
1036          19     Chicago       3
1037          57     Orlando       8
1040          58     Orlando       5
1040          58     Orlando       4
1042          47     Orlando       7
1044          38  Pittsburgh       3
1047          67  Pittsburgh       6
1049          21     Orlando       6
1051          62      Boston       3
1053          65  Pittsburgh       4
1054          67     Buffalo       1
1054          67     Buffalo       7
1055          66      Boston       5
1055          66      Boston       9
1056          70     Phoenix       7
1056          70     Phoenix       9
1057          40     Phoenix       8
1057          40     Phoenix       2
1058          35  Pittsburgh      10
1059          59      Boston       8
1059          59      Boston      10
1060          26     Orlando      10
1062          32     Chicago       1
1062          32     Chicago       9
1071          37     Buffalo       2
1072          59     Buffalo       1
1075          63  Pittsburgh       5
1081          61     Chicago       5
1083          56      Boston       4
1088          53      Boston       1
1092          64  Pittsburgh       3
1093          52     Phoenix       1
1098          29     Phoenix       7

Remove any duplicates

In [21]:
demo_ratings_drop_dups = demo_ratings.drop_duplicates('customer_id', keep='last').reset_index(drop=True)
demo_ratings_drop_dups

    age        city  customer_id  rating
0    22      Boston         1003       9
1    23     Phoenix         1004       9
2    61     Phoenix         1005       5
3    36     Buffalo         1006       6
4    58     Orlando         1009       2
5    38  Pittsburgh         1010       5
6    70     Chicago         1012       4
7    52     Buffalo         1013       4
8    22     Orlando         1014      10
9    39     Buffalo         1017       7
10   45      Boston         1019      10
11   31     Buffalo         1021       5
12   25  Pittsburgh         1022       3
13   44     Phoenix         1028       5
14   36     Phoenix         1030       8
15   47     Phoenix         1031       2
16   64     Buffalo         1033       9
17   46     Buffalo         1035       4
18   19     Chicago         1036       3
19   57     Orlando         1037       8
20   58     Orlando         1040       4
21   47     Orlando         1042       7
22   38  Pittsburgh         1044       3
23   67  Pittsburgh         1047       6
24   21     Orlando         1049       6
25   62      Boston         1051       3
26   65  Pittsburgh         1053       4
27   67     Buffalo         1054       7
28   66      Boston         1055       9
29   70     Phoenix         1056       9
30   40     Phoenix         1057       2
31   35  Pittsburgh         1058      10
32   59      Boston         1059      10
33   26     Orlando         1060      10
34   32     Chicago         1062       9
35   37     Buffalo         1071       2
36   59     Buffalo         1072       1
37   63  Pittsburgh         1075       5
38   61     Chicago         1081       5
39   56      Boston         1083       4
40   53      Boston         1088       1
41   64  Pittsburgh         1092       3
42   52     Phoenix         1093       1
43   29     Phoenix         1098       7

<p>Now it's a simple groupby operation to reveal the answer:</p>

In [33]:
city_ages_ratings = demo_ratings_drop_dups.groupby('city').mean().round(decimals=2)[['age', 'rating']]
city_ages_ratings

              age  rating
city
Boston      51.86    6.57
Buffalo     47.89    5.00
Chicago     45.50    5.25
Orlando     41.29    6.71
Phoenix     44.67    5.33
Pittsburgh  49.38    4.88

But what if we didn't drop the customer_id duplicates...would we get the same city result??

In [35]:
city_ages_ratings = demo_ratings.groupby('city').mean().round(decimals=2)[['age', 'rating']]
city_ages_ratings

              age  rating
city
Boston      51.00    6.20
Buffalo     53.08    4.69
Chicago     38.83    4.00
Orlando     43.38    6.50
Phoenix     44.58    5.50
Pittsburgh  49.38    4.88

What would be the total mean for the US customers?

In [39]:
us_avg = demo_ratings_drop_dups.describe().round(2)['rating']['mean']
us_avg

5.59

##### Breaking Down the Inner Join <br>
<p>Let's take a closer look at the actual mechanics here however. There is some subtlety and nuance that is best understood by thinking of an inner join as two steps: a cartesian product, and then a filter. Observe the result of the following inner join:</p>

In [40]:
d1 = {
    'A': [1, 2, 3, 4, 2],
    'B': ['a', 'b', 'c', 'd', 'x']
}

df1 = pd.DataFrame.from_dict(d1)

df1

   A  B
0  1  a
1  2  b
2  3  c
3  4  d
4  2  x

In [41]:
d2 = {
    'A': [1, 2, 6, 2, 2],
    'C': ['e', 'f', 'g', 'h', 'y']
}

df2 = pd.DataFrame.from_dict(d2)

df2

   A  C
0  1  e
1  2  f
2  6  g
3  2  h
4  2  y

In [47]:
df1.merge(df2, how='inner', on='A')

   A  B  C
0  1  a  e
1  2  b  f
2  2  b  h
3  2  b  y
4  2  x  f
5  2  x  h
6  2  x  y

<p>Somehow, we ended up with more rows in the result than either of the original tables! This is because we joined on a $\textit{non-unique index}$. The join starts by computing all the possible combinations of rows, and then filters them based on the condition. Because of the duplicates, multiple combinations of rows make it through!</p>

### Outer Joins <br>
<p>An $\textit{outer join}$ produces all of the rows from the left table, and joins whatever rows it can to the right table, filling anywhere it cant with NaN's or None values. Below is a brief example, and then we will discuss a possible use case for this type of join.</p>

In [ ]:
df3

##### Use Case Example

<p>As an example use case, let's imagine we have again the demographics and survey response tables from above:</p>

<p>Now, you are asked as an analyst to compare the demographics of survey responders to the demographics of all your customers combined.</p>

In [ ]:
# Count all survey responders against the total number of customers we have 
# (Specifically the customers that haven't taken the survey yet)



# Producing similar result with .count()

In [ ]:
# average age of people that answered the survey


# demo_outer_surveys['customer_rating'] != 'N/A'

In [ ]:
# find the average age of people that did not answer the survey

In [ ]:
# Pip install for both psycopg2 and SQLAlchemy
import sys
!{sys.executable} -m pip install psycopg2 SQLAlchemy

In [ ]:
# databaselanguage(postgresql)://user:password@url:port/database_name

In [ ]:
# Writing a DataFrame to PostGreSQL database 
# from sqlalchemy.types import Integer, Text,String,DateTime,Float